.btn.btn-link.btn-sm.btn-cancel {
  color: #0a6ebd;
}
.modal-overlay.ng-hide {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  opacity: 0;
}
.modal-save.ng-hide {
  width: 300px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
}
.modal-import.ng-hide {
  width: 500px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
}
.modal-export-json.ng-hide {
  width: 500px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
}
.modal-export-image.ng-hide {
  width: 500px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
}
.modal-login.ng-hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  width: 400px;
  display: block;
  overflow: auto;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px 8px 4px 4px;
}
.modal-overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 998;
  opacity: 1;
}
.modal-save {
  width: 300px;
  height: 0px;
  visibility: visible;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 1;
}
.modal-import {
  width: 500px;
  height: 0px;
  visibility: visible;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 1;
}
.modal-export-json {
  width: 500px;
  height: 0px;
  visibility: visible;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 1;
}
.modal-export-image {
  width: 500px;
  height: 0px;
  visibility: visible;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 1;
}
.modal-login {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  width: 400px;
  display: block;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px 8px 4px 4px;
}
.modal-overlay.ng-hide-add, .modal-overlay.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-save.ng-hide-add, .modal-save.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-import.ng-hide-add, .modal-import.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-export-image.ng-hide-add, .modal-export-image.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-export-json.ng-hide-add, .modal-export-json.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-login.ng-hide-add, .modal-login.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.panel-heading.panel-heading-diagram {
  padding-bottom: 5px;
}
textarea.well {
  margin: auto;
  width: 100%;
}
input[type="file"] {
  margin: auto;
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 9999;
  list-style: none;
  width: 150px;
  margin: 0;
  background-color: #424242;
  border-radius: 0 0 4px 4px;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}
.dropdown .dropdown-list li a {
  display: block;
  margin: 0;
  padding-left: 8px;
  color: white;
}
.dropdown .dropdown-list li a:hover {
  background-color: white;
  color: #424242;
}
.drawer.ng-hide {
  position: absolute;
  z-index: 99999;
  background-color: white;
  box-shadow: 1px 1px 2px #888888;
  height: 100%;
  width: 250px;
  left: -100%;
}
.drawer {
  position: absolute;
  z-index: 99999;
  background-color: white;
  box-shadow: 1px 1px 2px #888888;
  height: 100%;
  width: 250px;
  left: 0;
}
.drawer.ng-hide-add, .drawer.ng-hide-remove {
  transition: all 0.3s ease 0.1s;
}
.mdl-layout__header-row {
  padding-left: 30px;
}
.mdl-layout-title {
  padding-left: 20px;
}
.bar-toggle {
  color: white;
}
.bar-toggle:hover {
  color: #424242;
}
a.logout {
  color: white;
  display: block;
  text-align: right;
}
strong.username {
  display: block;
}
.bg-header {
  width: auto;
  height: 700px;
  background-image: url(../img/bg-header.png);
  background-color: rgba(13, 71, 161, 0.8);
  margin-bottom: 18px;
  box-shadow: 0px 1px 5px #888888;
}
.bg-header h1 {
  margin: 0;
  padding-top: 200px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #F5F5F5;
}
.bg-header h2 {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #F5F5F5;
}
.button-align {
  padding: 16px 16px 0 0;
  text-align: right;
}
.header-button {
  width: inherit;
  height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: rgba(255, 255, 255, 0);
  color: #F5F5F5;
  padding: 4px 8px 4px 8px;
  border-radius: 1px;
  border: solid 1px #ffffff;
  transition: all 0.4s;
}
.header-button:hover {
  width: inherit;
  height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  padding: 4px 8px 4px 8px;
  border-radius: 1px;
  border: solid 1px #ffffff;
}
.try-button {
  width: 150px;
  height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  background: rgba(255, 255, 255, 0);
  color: #F5F5F5;
  border-radius: 1px;
  border: solid 1px #ffffff;
  transition: all 0.4s;
  padding: 8px 12px 8px 12px;
}
.try-button:hover {
  width: 150px;
  height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  border-radius: 1px;
  border: solid 1px #ffffff;
}
span.header-text > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 8px;
  color: white;
}
span.header-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-right: 8px;
  color: white;
}
.button-middle {
  margin-top: 20px;
  text-align: center;
}
.modal-login .login-panel {
  width: auto;
  display: block;
  overflow: auto;
}
.login-panel.header {
  width: auto;
  height: 120px;
  padding-top: 24px;
  text-align: center;
  background-color: #212121;
  color: white;
  border-radius: 8px 8px 0 0;
}
.login-panel.header > .header-text > .text {
  display: block;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}
.login-panel.body {
  width: auto;
  display: block;
  overflow: auto;
  padding: 36px 24px 36px 24px;
}
.login-panel.body > .space-devide {
  font-size: 16px;
  display: block;
  text-align: center;
}
.login-form {
  position: relative;
  width: 100%;
  height: auto;
}
.login-form.group {
  position: inherit;
  margin-bottom: 48px;
}
.float-label {
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 4px;
  font-size: 17px;
  color: #9E9E9E;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s;
}
.input-form {
  width: 100%;
  height: 40px;
}
.input-form:focus + .float-label {
  top: 0;
  left: -5px;
  margin-top: -20px;
  font-size: 13px;
}
.input-form:valid + .float-label {
  top: 0;
  left: -5px;
  margin-top: -20px;
  font-size: 13px;
}
.input-form:invalid + .float-label {
  top: 0;
  left: -5px;
  margin-top: -20px;
  font-size: 13px;
}
.login-panel.footer {
  text-align: right;
  padding-right: 16px;
  margin-bottom: 6px;
}
.login-button {
  width: 100%;
  height: 40px;
  padding: 4px 0 4px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: rgba(255, 255, 255, 0);
  color: #000000;
  border-radius: 1px;
  border: solid 1px #000000;
  transition: all 0.4s;
}
.login-button.facebook {
  background: rgba(41, 98, 255, 0);
  color: rgba(41, 98, 255, 1);
  border-radius: 1px;
  border: solid 1px rgba(41, 98, 255, 1);
  transition: all 0.4s;
}
.login-button:hover {
  width: 100%;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
  border-radius: 1px;
  border: solid 1px #000000;
}
.login-button.facebook:hover {
  background: rgba(41, 98, 255, 1);
  color: #ffffff;
  border-radius: 1px;
  border: solid 1px rgba(41, 98, 255, 1);
  transition: all 0.4s;
}
.register {
  width: 100%;
  display: block;
  overflow: auto;
  margin: 0 auto;
  padding-bottom: 48px;
  background-image: url(../img/bg-register.png);
}
.reg-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: white;
  padding-top: 12px;
  text-align: center;
  margin: 0;
}
h2.reg-header {
  padding-top: 0px;
}
.register-panel {
  width: 50%;
  display: block;
  overflow: auto;
  margin: 16px auto 0px auto;
  border-radius: 4px;
  opacity: 0.7;
  background-color: #ffffff;
}
.login-panel.panel-lg {
  width: 30%;
  display: block;
  overflow: auto;
  margin: 50px auto 50px auto;
  padding: 4px;
  border-radius: 4px;
  opacity: 0.7;
  background-color: #ffffff;
}
.register-body {
  display: block;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 4px;
}
.reg-column {
  text-align: center;
  color: black;
  margin: 36px 0 24px 0;
}
.reg-column > h3 {
  font-family: "Open Sans", sans-serif;
  color: rgb(100, 100, 100);
  ;
  font-weight: 600;
  margin-top: 30%;
}
.signup-button {
  width: 100%;
  height: 40px;
  padding: 4px 0 4px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: rgba(255, 255, 255, 0);
  color: #4CAF50;
  border-radius: 1px;
  border: solid 1px #4CAF50;
  transition: all 0.4s;
}
.signup-button:hover {
  color: #ffffff;
  background: #4CAF50;
}
.drawer-header {
  padding: 8px 0 8px 16px;
  background: #212121;
}
.drawer-header .drawer-title {
  font-size: 40px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
.drawer-navigation .drawer-navigation-link {
  display: block;
  width: auto;
  height: inherit;
  font-size: 20px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  padding-left: 16px;
  color: #212121;
}
.export-image {
  width: inherit;
  margin: 0 auto;
}
div#image-canvas img {
  margin: 0 auto;
}
.drawer-navigation .drawer-navigation-link:hover {
  color: #ffffff;
  background: #212121;
}
.well.fearure-well {
  border-radius: 4px;
  height: 200px;
  background-color: #EEEEEE;
  text-align: center;
  padding: 30px 12px 8px 12px;
}
.well.powered-by-well {
  border-radius: 4px;
  display: block;
  height: 200px;
  background-color: #EEEEEE;
  text-align: center;
}
.well.try-it-well {
  border-radius: 4px;
  display: block;
  overflow: auto;
  margin-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgb(150, 150, 150);
}
.tool-container {
  width: inherit;
  height: 600px;
  padding-top: 20px;
}
div.msg-validate {
  float: right;
  display: block;
}
div.msg-validate span {
  color: rgba(255, 0, 0, 0.7);
}
footer.mdl-mini-footer.register-page {
  background-color: #212121;
}

h1.title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

p.feature-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 2px #888888;
}
.powered-by-desc {
  text-align: left;
}

.flash-custom-class {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  color: #F5F5F5;
  background-color: #212121;
  z-index: 99999;
}

.flash-register-class {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  color: #F5F5F5;
  background-color: #212121;
  z-index: 9999;
}


.alertIn, .alertOut {
    -webkit-transition: all 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: all 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: all 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: all 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
