.btn.btn-link.btn-sm.btn-cancel {
  color: #0a6ebd;
}
.modal-overlay.ng-hide {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
}
.modal-save.ng-hide {
  width: 300px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 500px;
  z-index: 99999;
  opacity: 0;
}
.modal-import.ng-hide {
  width: 500px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 27%;
  z-index: 99999;
  opacity: 0;
}
.modal-export.ng-hide {
  width: 800px;
  height: 0px;
  visibility: hidden;
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 17%;
  z-index: 99999;
  opacity: 0;
}
.modal-overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 99999;
  opacity: 1;
}
.modal-save {
  width: 300px;
  height: 0px;
  visibility: visible;
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 500px;
  z-index: 99999;
  opacity: 1;
}
.modal-import {
  width: 500px;
  height: 0px;
  visibility: visible;
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 27%;
  z-index: 99999;
  opacity: 1;
}
.modal-export {
  width: 800px;
  height: 0px;
  visibility: visible;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 17%;
  z-index: 99999;
  opacity: 1;
}
.modal-overlay.ng-hide-add, .modal-overlay.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-save.ng-hide-add, .modal-save.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-import.ng-hide-add, .modal-import.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.modal-export.ng-hide-add, .modal-export.ng-hide-remove {
  transition: all 0.4s ease 0.1s;
}
.panel-heading.panel-heading-diagram {
  padding-bottom: 5px;
}
textarea.well {
  margin: auto;
  width: 100%;
}
input[type="file"] {
  margin: auto;
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 9999;
  list-style: none;
  width: 150px;
  margin: 0;
  background-color: #2196f3;
  border-radius: 0 0 4px 4px;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}
.dropdown .dropdown-list li a{
  display: block;
  margin: 0;
  padding-left: 8px;
  color: white;
}
.dropdown .dropdown-list li a:hover{
  background-color: white;
  color: #2196f3;
}
.drawer.ng-hide {
  position: absolute;
  z-index: 99999;
  background-color: white;
  box-shadow: 1px 1px 2px #888888;
  height: 100%;
  width: 17%;
  left: -100%;

}

.drawer {
  position: absolute;
  z-index: 99999;
  background-color: white;
  box-shadow: 1px 1px 2px #888888;
  height: 100%;
  width: 17%;
  left: 0;

}
.drawer.ng-hide-add, .drawer.ng-hide-remove {
  transition: all 0.3s ease 0.1s;
}

.mdl-layout__header-row {
  padding-left: 30px;
}

.mdl-layout-title {
  padding-left: 20px;
}

.bar-toggle {
  color: white;
}

a.logout {
  color: white;
  display: block;
  text-align: right;

}
strong.username {
  display: block;
}
