<!-- modal overlay -->
<div class="modal-overlay" ng-show="modal.overlay" ng-click="closeModal()"></div>
<!-- modal save -->
<div class="modal-save" ng-show="modal.save">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>Save Diagram</strong>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="name">save diagram as...</label>
        <input type="text" class="form-control" ng-model="myDiagram.diagramName" name="name" value="">
      </div>
      <div class="pull-right">
        <button type="button"
                class="btn btn-primary btn-sm"
                name="button"
                ng-click="saveAsModel(myDiagram)">save</button>
        <button type="button"
                class="btn btn-link btn-sm btn-cancel"
                name="button"
                ng-click="closeModal()">cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- modal export -->
<div class="modal-export" ng-show="modal.export">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Export diagram to JSON String
    </div>
    <div class="panel-body">
      <textarea class="well" ng-model="jsonDiagram" name="jsonString" rows="10" cols="80"></textarea>
    </div>
  </div>
</div>
<!-- modal import -->
<div class="modal-import" ng-show="modal.import">
  <div class="panel panel-primary">
    <div class="panel-heading">
      select JSON file to import
    </div>
    <div class="panel-body">
      <div class="form-group">
        <input type="file" class="well" nv-file-select uploader="uploader">
      </div>
      <div class="pull-right">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          name="save"
          ng-disabled="importButton"
          ng-click="uploader.uploadAll()">import</button>
        <button
          type="button"
          class="btn btn-link btn-sm btn-cancel"
          name="cancel"
          ng-click="closeModal()">cacel</button>
      </div>
    </div>
  </div>
</div>
<!-- main diagram -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Compenents</strong>
      </div>
      <div class="panel-body" id="leftPalette" style="width: Auto; height: 500px;"></div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading panel-heading-diagram">
        <button class="btn btn-link btn-sm"
                id="new"
                name="button"
                ng-click="newDiagram()"
                type="button"><i class="fa fa-plus-circle"></i> new
        </button>
        <button class="btn btn-link btn-sm"
                id="saveModel"
                name="button"
                ng-click="saveModel(myDiagram)"
                type="button"><i class="fa fa-floppy-o"></i> save
        </button>
        <button
                class="btn btn-link btn-sm"
                id="undo"
                name="button"
                ng-click="undoButton()"
                type="button"><i class="fa fa-undo"></i> undo
        </button>
        <button
                class="btn btn-link btn-sm"
                id="redo"
                name="button"
                ng-click="redoButton()"
                type="button"><i class="fa fa-repeat"></i> redo
        </button>
        <div class="pull-right">
          <button class="btn btn-link btn-sm"
                  id="exportModel"
                  name="button"
                  ng-click="importModel()"
                  type="button"><i class="fa fa-download"></i> import
          </button>
          <div class="dropdown">
            <button class="btn btn-link btn-sm"
                    id="exportModel"
                    name="button"
                    type="button"><i class="fa fa-upload"></i> export
            </button>
            <ul class="dropdown-list">
              <li>
                <a href="" ng-click="exportModel(myDiagram.diagramDetail)">
                  export to JSON
                </a>
              </li>
              <li><a href="#">export to image</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body" id="myDiagram" style="width: Auto; height: 500px;">
        <!-- <div class="mdl-shadow--2dp" id="myDiagram" style="width: Auto; height: 500px;"></div> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Your Diagram</strong>
        <div class="pull-right">
          <button type="button" class="btn btn-link btn-sm" name="delete">
            <i class="fa fa-trash-o"></i> delete
          </button>
        </div>
      </div>
      <div class="panel-body well" style="width: Auto; height: 500px;">
        <select multiple class="form-control" size="7">
          <option
              ng-repeat="m in diagramList"
              ng-click="selectModel(m.diagramName)"
              ng-dblclick="loadModel(m.diagramName)">
              {{m.diagramName}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
