<h1>register</h1>
<label for="email">email</label>
<input type="email" name="email" ng-model="user.email"><br>
<label for="password">password</label>
<input type="password" name="password" ng-model="user.password">
<button type="button" name="button" ng-click="register()">register</button>
<h1>log in</h1>
<label for="email">email</label>
<input type="email" name="email" ng-model="user.email"><br>
<label for="password">password</label>
<input type="password" name="password" ng-model="user.password">
<button type="button" name="button" ng-click="login(user)">login</button>
<button type="button" name="button" ng-click="IntentLogin()">facebookLogin</button>
<button type="button" name="button" ng-click="facebookLogout()">facebookLogout</button>
<button type="button" name="button" ng-click="logout()">logout</button>
