
<div class="modal-overlay" ng-show="modal.overlay" ng-click="closeModal()"></div>
<div class="modal-login" ng-show="modal.login">
  <div class="header-login">
    <div class="text-header">
      <span class="fa fa-lock fa-3x"></span>
    </div>
  </div>
  <div class="form-login">
    <div class="login-group">
      <input type="text" class="input-login" name="user" placeholder="E-mail or username">
    </div>
    <div class="login-group">
      <input type="password" class="input-login" name="password" placeholder="Password">
    </div>
    <div class="login-group button">
      <button type="button" class="login-button" name="login">Log In</button>
    </div>
    <div class="login-group button">
      <button type="button" class="login-button facebook" name="loginFacebook">Log In with Facebook</button>
    </div>
  </div>

</div>
<header>
  <div class="bg-header">
    <div class="button-align">
      <span class="header-text"><a href="#">register</a> or </span>
      <button type="button" class="header-button" ng-click="showLoginModal()">LOGIN</button>
    </div>
    <h1>DIATOOLS</h1>
    <h2>Design and create workflow diagram</h2>
    <div class="button-middle">
      <button type="button" class="try-button" >TRY IT!</button>
    </div>
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="main-well">
        <span><i class="fa fa-pencil fa-3x"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-well">
        <span><i class="fa fa-download fa-3x"></i></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-well">
        <span><i class="fa fa-upload fa-3x"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Example</h1>
      <div class="" style="width: auto; height: 500px;">

      </div>
    </div>
  </div>
</main>
<footer class="" style="width: auto; height: 100px;background-color: #212121;box-shadow: 0px -1px 5px #888888;">

</footer>
