<div class="register">
  <h1 class="reg-header">REGISTER SUCCESSFUL</h1>
  <h2 class="reg-header">LOGIN TO DIATOOLS</h2>
  <div class="login-panel panel-lg">
    <div class="login-panel">
      <div class="login-panel body">
        <div class="login-form">
          <div class="login-form group">
            <input type="text" class="input-form" name="user" ng-model="user.username" required>
            <label for="user" class="float-label">E-mail or username</label>
          </div>
          <div class="login-form group">
            <input type="password" class="input-form" name="password" ng-model="user.password" required>
            <label for="password" class="float-label">Password</label>
          </div>
        </div>
        <button type="button" class="login-button" ng-click="login(user)">LOG IN</button>
        <span class="space-devide">or</span>
        <button type="button" class="login-button facebook" ng-click="facebookLogin()">LOG IN WITH FACEBOOK</button>
      </div>
      <div class="login-panel footer">
        forgot password
      </div>
    </div>
  </div>
</div>
