<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="modal-overlay" ng-show="modal.overlay" ng-click="closeModal()"></div>
  <div class="drawer" ng-show="modal.drawer">
    <div class="drawer-header">
      <span class="drawer-title">Diagram Categories</span>
    </div>
    <nav class="drawer-navigation">
      <a class="drawer-navigation-link" ui-sref="toolsApp.flowChart">Flowchart</a>
      <a class="drawer-navigation-link" ui-sref="toolsApp.ER">ER Diagram</a>
      <a class="drawer-navigation-link" ui-sref="toolsApp.Prototype">Prototype</a>
    </nav>
  </div>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="bar-toggle" href="" ng-click="openDrawer($event)"><span class="fa fa-bars fa-2x"></span></a>
      <!-- Title -->
      <span class="mdl-layout-title">Create Diagram</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only" ng-controller="authCtrl">
        <!-- navbar link -->
        <div>
          <strong class="username">{{user}}</strong>
          <a href="" class="logout" ng-click="logout()">Log out <span class="fa fa-sign-out"></span></a>
        </div>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">

    <div class="page-content">
      <div class="container-fluid">
        <div ui-view></div>
      </div>
    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">CDG System .co.ltd</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Kampnart Kengpohnsakul</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>

</div>
