<div flash-message="3500"></div>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="drawer" ng-show="modal.drawer">
    <div class="drawer-header">
      <span class="drawer-title">Diagram Categories</span>
    </div>
    <nav class="drawer-navigation">
      <a class="drawer-navigation-link" ng-click="closeModal()" ui-sref="tools.flowChart">Flowchart</a>
      <a class="drawer-navigation-link" ng-click="closeModal()" ui-sref="tools.ER">ER Diagram</a>
      <a class="drawer-navigation-link" ng-click="closeModal()" ui-sref="tools.Prototype">Prototype</a>
    </nav>
  </div>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="bar-toggle" href="" ng-click="openDrawer()"><span class="fa fa-bars fa-2x"></span></a>
      <!-- Title -->
      <span class="mdl-layout-title">Create Diagram</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only" ng-controller="authCtrl">
        <!-- navbar link -->
        <div>
          <strong class="username">{{user}}</strong>
          <a href="" class="logout" ng-click="logout()">Log out <span class="fa fa-sign-out"></span></a>
        </div>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">

    <div class="page-content">
      <div class="container-fluid">
        <!-- modal overlay -->
        <div class="modal-overlay" ng-show="modal.overlay" ng-click="closeModal()"></div>
        <!-- modal save -->
        <div class="modal-save" ng-show="modal.save">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <strong>Save Diagram</strong>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="name">save diagram as...</label>
                <input type="text" class="form-control" ng-model="myDiagram.diagramName" name="name" value="">
              </div>
              <div class="pull-right">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        name="button"
                        ng-click="saveNewDiagram(myDiagram)">save</button>
                <button type="button"
                        class="btn btn-link btn-sm btn-cancel"
                        name="button"
                        ng-click="closeModal()">cancel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal import -->
        <div class="modal-import" ng-show="modal.import">
          <div class="panel panel-primary">
            <div class="panel-heading">
              select JSON file to import
            </div>
            <div class="panel-body">
              <div class="form-group">
                <input type="file" class="well" nv-file-select uploader="uploader">
              </div>
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  name="save"
                  ng-disabled="Upload.isValid()"
                  ng-click="uploader.uploadAll()">import</button>
                <button
                  type="button"
                  class="btn btn-link btn-sm btn-cancel"
                  name="cancel"
                  ng-click="closeModal()">cacel</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal export -->
        <div class="modal-export-json" ng-show="modal.exportJson">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Export diagram to JSON
            </div>
            <div class="panel-body">
              <strong>Export as...</strong>
              <div class="form-group">
                <input type="text" ng-model="myDiagram.diagramName" class="form-control" name="exportName">
              </div>
              <div class="pull-right">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        name="button"
                        ng-click="exportJSON(myDiagram)">export</button>
                <button type="button"
                        class="btn btn-link btn-sm btn-cancel"
                        name="button"
                        ng-click="closeModal()">cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-export-image" ng-show="modal.exportImage">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Export diagram to image
            </div>
            <div class="panel-body">
              <strong>Export as...</strong>
              <div class="form-group">
                <input type="text" ng-model="myDiagram.diagramName" class="form-control" name="exportName">
              </div>
              <div class="pull-right">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        name="button"
                        ng-click="exportImage(myDiagram, init)">export</button>
                <button type="button"
                        class="btn btn-link btn-sm btn-cancel"
                        name="button"
                        ng-click="closeModal()">cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- main diagram -->
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong>Components</strong>
              </div>
              <div ui-view></div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="panel panel-primary">
              <div class="panel-heading panel-heading-diagram">
                <button class="btn btn-link btn-sm"
                        id="new"
                        ng-click="newDiagram()"
                        type="button"><i class="fa fa-plus-circle"></i> new
                </button>
                <button class="btn btn-link btn-sm"
                        id="saveModel"
                        ng-click="saveDiagram(myDiagram)"
                        type="button"><i class="fa fa-floppy-o"></i> save
                </button>
                <button
                        class="btn btn-link btn-sm"
                        id="undo"
                        ng-click="undo(myDiagram.diagramDetail)"
                        type="button"><i class="fa fa-undo"></i> undo
                </button>
                <button
                        class="btn btn-link btn-sm"
                        id="redo"
                        ng-click="redo(myDiagram.diagramDetail)"
                        type="button"><i class="fa fa-repeat"></i> redo
                </button>
                <div class="pull-right">
                  <button class="btn btn-link btn-sm"
                          id="exportModel"
                          ng-click="modal.import = !modal.import;modal.overlay = !modal.overlay"
                          type="button"><i class="fa fa-download"></i> import
                  </button>
                  <div class="dropdown">
                    <button class="btn btn-link btn-sm"
                            id="exportModel"
                            name="button"
                            type="button"><i class="fa fa-upload"></i> export
                    </button>
                    <ul class="dropdown-list">
                      <li>
                        <a href="" ng-click="modal.exportJson = !modal.exportJson;modal.overlay = !modal.overlay">
                          export to JSON
                        </a>
                      </li>
                      <li>
                        <a href="" ng-click="modal.exportImage = !modal.exportImage;modal.overlay = !modal.overlay">
                          export to image
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel-body" id="myDiagram" style="width: Auto; height: 500px;"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong>Your Diagram</strong>
                <div class="pull-right">
                  <button type="button"
                          class="btn btn-link btn-sm"
                          ng-click="deleteDiagram(temp)">
                    <i class="fa fa-trash-o"></i> delete
                  </button>
                </div>
              </div>
              <div class="panel-body well" style="width: Auto; height: 500px;">
                <select class="form-control" size="7">
                  <option
                      ng-repeat="diagram in diagramList"
                      ng-click="selectDiagram(diagram)"
                      ng-dblclick="loadDiagram(diagram)">
                      {{diagram.diagramName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <footer class="mdl-mini-footer register-page">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">CDG System .co.ltd</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="">Kampnart Kengpohnsakul</a></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="">Contact us.</a></li>
        </ul>
      </div>
    </footer>
  </main>

</div>
